.butStyle {
    width: 150px !important;
    background-color: #F37649 !important;
    border: 2px solid #F37649 !important;
    border-radius: 25px !important;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    -ms-border-radius: 25px !important;
    -o-border-radius: 25px !important;
}

.butStyle:hover {
    background-color: #ffffff !important;
    color: #F37649 !important;
    border: 2px solid #F37649 !important;
}