.mainTextStyle {

    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .mainTextStyle {
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .mainTextStyle {
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }

}

@media (max-width: 767.9px) {

    .mainTextStyle {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }


}