.mainTextStyle {

    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.bulletContainer {
    list-style: none;

}

.bulletContainer li {
    line-height: 40px;
}

@media (max-width: 991.98px) {
    .mainTextStyle {

        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
    }

    .bulletContainer li {
        line-height: 30px;
        font-size: 14px;
    }
}