.accordion-button::after {
    display: none !important;
}

.accordion-button::before {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    /* margin-right: auto; */
    content: "";
    background-image: url("../../../src/assets/plusSign.png");
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button:not(.collapsed):before {
    background-image: url("../../../src/assets/minusSign.png");
    transform: var(--bs-accordion-btn-icon-transform);
}