.swiper-container {
    position: relative;
    top: -220px;
    margin-top: 70px;
}

.swiper-wrapper {
    margin: 55px 0px;

}


.swiper-button-next,
.swiper-button-prev {
    width: 32px !important;
    height: 32px !important;
    background: var(--Color-1, #F37649);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 17px !important;
    font-weight: 700;
    color: #ffffff;
}

.swiper-container img {
    width: 50px;
    height: auto;
    padding: 0 0 30px 0;
}

.swiper-container h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.swiper-container p {
    color: var(--Color-4, #5A5A5A);
    /* Text Paragraph */

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    /* 32.4px */
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .swiper-container {
        top: -150px;
    }

    .card-wrapper {
        width: 255px;
        height: 227px;
        border-radius: 8px;
        border: 1px solid #EEE;
        background: #FFF;
        box-shadow: 0.166px 1.24px 5.707px 0px rgba(0, 0, 0, 0.02), 1.845px 13.788px 30.11px 0px rgba(0, 0, 0, 0.04), 3.592px 26.846px 64.157px 0px rgba(0, 0, 0, 0.06);
    }



    .swiper-container img {
        width: 29px;
        height: auto;
        padding: 0 0 30px 0;

    }
}