.swiper-container {
    position: relative;
    top: -220px;
    margin: 70px;
}

.swiper-wrapper {
    margin: 55px 0px;

}


.swiper-button-next,
.swiper-button-prev {
    width: 32px !important;
    height: 32px !important;
    background: var(--Color-1, #F37649);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 17px !important;
    font-weight: 700;
    color: #ffffff;
}

.swiper-container img {
    width: 50px;
    height: auto;
    padding: 0 0 30px 0;
}

.swiper-container h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.swiper-container p {
    color: var(--Color-4, #5A5A5A);
    /* Text Paragraph */

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    /* 32.4px */
}