.numbers {
    display: flex;
    justify-content: space-around;
    padding: 70px 130px 10px 130px;
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .numbers {
        padding: 70px 100px 10px 100px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .numbers {
        padding: 70px 10px 10px 10px;
    }
}

.number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    color: var(--Color-1, #F37649);
}

.number .counter {
    font-weight: bold;
    /* font-style: italic; */
    font-size: 4em;
    margin: 6px 0;
}

.number p {
    font-size: 1em;
    display: block;
    color: var(--Color-1, #F37649);
}

.countText {
    text-align: center;
    width: 650px;
    padding-bottom: 70px;

}